<section class="callpromo">
        <div class="callpromo__inner">
            <img src="{{root}}assets/img/content/callcenter.svg" alt="">
            <div class="callpromo__content">
                <h3>We will help you choose the right vehicle.</h3>
                <h4>Call our rental consultant during business hours!</h4>
                <p>Phone number: <a href="tel:+3624502250">+36 (24) 50 22 50</a></p>
            </div>
        </div>
    </div>
</section>
<footer role="contentinfo" class="sitefooter">
    <ul class="footerwidgetgrid">
        <li><section class="widget widget--footer text-3 widget_text"><h3 class="widget__title">Szigetszentmiklós</h3>			<div class="textwidget"><p><strong>Viarent Kft.</strong><br />
<strong>H-2310 Szigetszentmiklós,<br />
Leshegy utca 13.</strong><br />
<strong>Phone: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-2 widget_text"><h3 class="widget__title">Budapest</h3>			<div class="textwidget"><p><strong>Viarent Kft.</strong><br />
<strong>H-1097 Budapest, Táblás utca 38.</strong><br />
<strong>Phone: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-4 widget_text"><h3 class="widget__title">Senec</h3>			<div class="textwidget"><p><strong>Delta Truck S.R.O.</strong><br />
<strong>Poľná 17, 903 01 Senec, Szlovákia</strong><br />
<strong>Phone: <a href="tel:+421 2 381 1 3673">+421 2 381 1 3673</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-5 widget_text"><h3 class="widget__title">Belgrade / Beograd</h3>			<div class="textwidget"><p><strong>SDT Renting D.O.O.</strong><br />
<strong>Sretenjska 4, 11272, Dobanovci,<br />
Beograd, Srbija</strong><br />
<strong>Phone: <a href="tel:+381 62 425 888">+381 62 425 888</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
        </section></li>    
    </ul>
    <div class="sitefooter__bottom">
        <div class="sitefooter__bottom__zero">
            {{> en-assistancebanner }}
        </div>
        <div class="sitefooter__bottom__first">
            <p>&copy; 2020 All rights reserved. VIARENT is a trademark of Viarent Kft.</p>
            <ul id="menu-footer-mini-menu" class="footerminimenu">
                <li class="menu-item menu-privacy-policy"><a href="https://endev.viarent.hu/privacy-policy/">Privacy policy</a></li>
                <li class="menu-item menu-legal-notice"><a href="https://endev.viarent.hu/legal-notice/">Legal notice</a></li>
                <li class="menu-item menu-cookies"><a href="https://endev.viarent.hu/cookies/">Cookies</a></li>
                </ul>
            <ul class="sociallist">
                <li><a target="_blank" href="https://www.facebook.com/viarentmagyarorszag/" class="socialbtn">{{svginsert "facebook"}}</a></li>
                <li><a target="_blank" href="https://www.instagram.com/viarent_com/" class="socialbtn">{{svginsert "instagram"}}</a></li>
            </ul>
        </div>
        <div class="sitefooter__bottom__second">
            {{svginsert "dnv"}}
            {{svginsert "logo-mono"}}
        </div>
    </div>
</footer>