<ul class="accordion" data-accordion adata-multi-expand="true" data-allow-all-closed="true" data-magellan>
    <li class="accordion-item" data-accordion-item>
<a href="#car-rental-for-private-partners" class="accordion-title">Car rental for private partners</a>
<div id="car-rental-for-private-partners" class="accordion-content" data-tab-content data-magellan-target="car-rental-for-private-partners">
    <p>Individuals will need a credit/debit card to pay the rental fee and create a deposit, besides signing the contract and the GTC.</p>
<p><strong>IMPORTANT:</strong> cash payment is not possible; payments can only be made via bank transfer or by credit/debit card. </p>
<p><strong>IMPORTANT:</strong> cash payment is not possible; payments can only be made via bank transfer or by credit/debit card.  </p>
<p>Further details related to payment can be found in the GTC. On creating a deposit, see: “How can I pay the deposit as an individual?”</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#how-can-i-pay-the-deposit-as-an-individual" class="accordion-title">How can I pay the deposit as an individual?</a>
<div id="how-can-i-pay-the-deposit-as-an-individual" class="accordion-content" data-tab-content data-magellan-target="how-can-i-pay-the-deposit-as-an-individual">
    <p>For short terms rentals no deposit is required from individuals.  Bring your credit/debit card and our colleague will pre-authorise a security deposit on your account. Deposit refunds are given immediately upon returning the rented vehicle. Accessibility of the amount in question is determined by the internal rules of procedure of your card-issuing bank.</p>
<p><strong>IMPORTANT:</strong> In the event of a fine received for the period while the vehicle was in your use, your account will be debited for that amount and, of course, all the documents related to the fine will be sent to you.</p>
<p>Further details on this can be found in the GTC.</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#how-can-i-rent-a-car-as-a-company" class="accordion-title">How can I rent a car as a company?</a>
<div id="how-can-i-rent-a-car-as-a-company" class="accordion-content" data-tab-content data-magellan-target="how-can-i-rent-a-car-as-a-company">
    <p>If your company meets the requirements for a credit check, you must pay a security deposit (which is usually equivalent to a monthly fee of 1 or 2 months) and pay the first monthly fee after signing the contract and the GTC.<br />
<strong>IMPORTANT:</strong> cash payment is not possible; payments can only be made via bank transfer or by credit/debit card. On reception of the funds, you will receive a notification telling you when your vehicle can be picked up from our premises.</p>
<p>Further details on this can be found in the GTC.</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#for-what-time-period-can-i-rent-a-vehicle" class="accordion-title">For what time period can I rent a vehicle?</a>
<div id="for-what-time-period-can-i-rent-a-vehicle" class="accordion-content" data-tab-content data-magellan-target="for-what-time-period-can-i-rent-a-vehicle">
    <p>You can rent a vehicle for a one-day or for a 1-72-month period. </p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#what-is-included-in-the-rental-fee" class="accordion-title">What is included in the rental fee? </a>
<div id="what-is-included-in-the-rental-fee" class="accordion-content" data-tab-content data-magellan-target="what-is-included-in-the-rental-fee">
    <p>“Full Service” includes vehicle depreciation, leasing fee, maintenance, repair, replacement of tires due to wear, replacement of vehicles for long repairs, periodic vehicle tests, CASCO insurance, compulsory insurance, weight tax and administrative costs related to the registration of the vehicle. </p>
<p>Besides the above, other rental constructions are also available. Enquire about these at our suppliers. </p>
<p>Further details on this can be found in the GTC.</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#where-can-i-return-and-drop-off-the-rented-vehicle" class="accordion-title">Where can I return and drop off the rented vehicle?</a>
<div id="where-can-i-return-and-drop-off-the-rented-vehicle" class="accordion-content" data-tab-content data-magellan-target="where-can-i-return-and-drop-off-the-rented-vehicle">
    <p>At the moment we have two pick up and drop off sites in Hungary and one in Slovakia.</p>
<p><strong>Hungary:</strong></p>
<ul>
<li>Vans, trucks:<strong> H-1097 Budapest, Táblás utca 38.</strong></li>
<li>Tractors, semitrailers: <strong>H-2310 Szigetszentmiklós, Leshegy utca 13.</strong></li>
</ul>
<p>The whole Slovakian fleet is managed on one site: Poľná 17, 903 01 Senec, Slovakia</p>
</div>
</li>
</ul>