
<ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Hogy tudok magánszemélyként bérelni?</a>
        <div class="accordion-content" data-tab-content>
            <p>Amennyiben magánszemély vagy, úgy a szerződéskötés és az ÁBF aláírása után szükséged lesz még a bankkártyádra, egyrészről a bérleti díj megfizetése, másrészről a depozit létrehozása miatt.<br />
<strong>FONTOS:</strong> készpénzes befizetésre nincs lehetőség, a befizetéseket vagy utalással, vagy bankkártyás fizetéssel kell teljesíteni!</p>
<p>Az erre vonatkozó részleteket az ÁBF-ben találod.</p>
<p>Depozit létrehozása, lásd: „Hogy tudom kifizetni a kauciót, ha magánszemély vagyok?”</p>
        </div>
    </li>
            <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Hogy tudom kifizetni a kauciót, ha magánszemély vagyok?</a>
        <div class="accordion-content" data-tab-content>
            <p>Ha rövid távra bérelsz magánszemélyként, nem kell kauciót fizetned. Hozd el a bankkártyád és kollégánk depozitot (letétet) hoz létre a számládon, majd a bérlet elteltével a jármű leadásakor ezt az összeget azonnal felszabadítja.</p>
<p>Továbbiakban a te kártyakibocsátó bankod belső üzleti szabályzata határozza meg, hogy a szóban forgó összeget mikor használhatod fel újra.</p>
<p><strong>FONTOS:</strong> Amennyiben bírság érkezik arra az időszakra, amíg a jármű a te használatodban volt, úgy arra az összegre utólagos terhelést indítunk a számládra és természetesen a bírsággal kapcsolatos összes dokumentumot megküldjük neked.</p>
<p>Részleteket az ÁBF-ben találsz erre vonatkozólag.</p>
        </div>
    </li>
            <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Hogy tudok vállalkozásként bérelni?</a>
        <div class="accordion-content" data-tab-content>
            <p>Amennyiben vállalkozása megfelel a bonitás vizsgálat követelményeinek, úgy a szerződéskötés és az ÁBF aláírása után meg kell fizetni a kauciót (amely általában 1 vagy 2 hónap havi díjnak megfelelő), illetve be kell fizetnie az első havi díjat.<br />
<strong>FONTOS:</strong> készpénzes befizetésre nincs lehetőség, a befizetéseket vagy utalással, vagy bankkártyás fizetéssel kell teljesíteni!<br />
Az összegek beérkezése után értesítést kap, hogy a járművét mikor veheti át telephelyünkön.</p>
<p>Részleteket az ÁBF-ben talál erre vonatkozólag.</p>
        </div>
    </li>
            <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Milyen idő távra tudok bérelni?</a>
        <div class="accordion-content" data-tab-content>
            <p>Akár 1 napra, 1-72 hónapra, de határozatlan időre is bérelheti a járművet.</p>
        </div>
    </li>
            <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"> Mit tartalmaz a bérleti díj?</a>
        <div class="accordion-content" data-tab-content>
            <p>A <strong>„Full Service”</strong> szolgáltatás tartalmazza a jármű amortizációját, lízing díját, karbantartását, javítását, kopásból eredő gumicseréjét, hosszú javításoknál a járműcserét, időszakos járművizsgákat, CASCO-t, KGFB-t, súlyadót és a jármű forgalomba helyezésével kapcsolatos adminisztrációs költségeket.</p>
<p>A fentin felül még több fajta bérleti konstrukciónk létezik, ezekről érdeklődjön kereskedőinknél.</p>
<p>Részleteket az ÁBF-ben talál erre vonatkozólag.</p>
        </div>
    </li>
            <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"> Hol tudom átvenni és leadni a bérelt járművet?</a>
        <div class="accordion-content" data-tab-content>
            <p>Jelenleg Magyarországon két telephelyünkön, Szlovákiában egy telephelyünkön tudja felvenni, illetve leadni a bérelt járművet.</p>
<p><strong>Magyarországon:</strong></p>
<ul>
<li>Furgonok, teherautók: <strong>H-1097 Budapest, Táblás utca 38.</strong></li>
<li>Nyerges vontatók, félpótkocsik: <strong>H-2310 Szigetszentmiklós, Leshegy Ipari Park 13.</strong></li>
</ul>
<p><strong>Szlovákiában</strong> a teljes VIARENT flottát egy telepen kezeljük: <strong>Poľná 17, 903 01 Senec, Szlovákia</strong></p>
        </div>
    </li>
        </ul>
