<section class="callpromo">
        <div class="callpromo__inner">
            <img src="{{root}}assets/img/content/callcenter.svg" alt="">
            <div class="callpromo__content">
                <h3>Segítünk a megfelelő jármű kiválasztásában.</h3>
                <h4>Munkaidőben hívd bérleti tanácsadónkat!</h4>
                <p>Budapest: <a href="tel:+3615053500">+36 (1) 505 3500</a><br>Szigetszentmiklós: <a href="tel:+3624502250">+36 (24) 50 22 50</a></p>
            </div>
        </div>
    </div>
</section>
<footer role="contentinfo" class="sitefooter">
    <ul class="footerwidgetgrid">
        <li>
            <section class="widget widget--footer text-3 widget_text"><h3 class="widget__title">Szigetszentmiklós</h3>
                <div class="textwidget"><p><strong>2310 Szigetszentmiklós,<br>Leshegy utca 13.</strong><br>
                <strong>Telefon: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br>
                <strong>Fax:&nbsp;<a href="tel:+36 1 358 14 44">+36 24 50 22 33</a></strong><br>
                <strong>E-mail:&nbsp;<a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
                </div>
            </section>
        </li>
        <li>
            <section class="widget widget--footer text-2 widget_text"><h3 class="widget__title">Budapest</h3>
                <div class="textwidget"><p><strong>1097 Budapest, Táblás utca 38.</strong><br>
            <strong>Telefon: <a href="tel:+36 1 358 14 44">+36 1 358 14 44</a></strong><br>
            <strong>Fax:&nbsp;<a href="tel:+36 1 358 14 44">+36 24 50 22 33</a></strong><br>
            <strong>E-mail:&nbsp;<a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget widget--footer text-4 widget_text"><h3 class="widget__title">Szenc / Senec</h3>
                <div class="textwidget"><p><strong>Poľná 17, 903 01 Senec, Szlovákia</strong><br>
            <strong>Telefon: <a href="tel:+421 2 381 1 3673">+421 2 381 1 3673</a></strong><br>
            <strong>E-mail:&nbsp;<a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
            </div>
            </section>
        </li>
    </ul>
    <div class="sitefooter__bottom">
        <div class="sitefooter__bottom__zero">
            {{> assistancebanner }}
        </div>
        <div class="sitefooter__bottom__first">
            <p>&copy; 2020 All rights reserved. VIARENT is a trademark of Viarent Kft.</p>
            <ul class="footerminimenu">
                <li><a href="https://viarent.hu/adatkezelesi-tajekoztato/">Adatkezelési tájékoztató</a></li>
                <li><a href="https://viarent.hu/jogi-nyilatkozat/">Jogi nyilatkozat</a></li>
                <li><a href="https://viarent.hu/sutik-kezelese/">Sütik kezelése</a></li>
            </ul>
            <ul class="sociallist">
                <li><a target="_blank" href="https://www.facebook.com/viarentmagyarorszag/" class="socialbtn">{{svginsert "facebook"}}</a></li>
                <li><a target="_blank" href="https://www.instagram.com/viarent_com/" class="socialbtn">{{svginsert "instagram"}}</a></li>
            </ul>
        </div>
        <div class="sitefooter__bottom__second">
            {{svginsert "logo-mono"}}
        </div>
    </div>
</footer>