<div class="heroslider">
    <div>
        <section class="hero colored">
            <figure class="hero__fig nomask">
                <img src="{{root}}assets/img/content/homehero-01.jpg" alt="">
            </figure>
            <div class="hero__content" data-magellan>
                <h4>Bútort vettél? Költözni készülsz? Rendezvényt szervezel?</h4>
                <h3>Ne várj a szállítókra,<br>bérelj furgont!</h3>
                <ul>
                    <li>Költözéshez, kisebb rendezvényekre, kitelepülésekre, konferenciákra és esküvőkre</li>
                    <li>7 különféle alaptípusú jármű, a kis furgonoktól a 16 tonnás hűtős teherautókig</li>
                    <li>Műszaki kollégáink 7/24-ben, azaz bármikor elérhetőek, így műszaki meghibásodás vagy baleset esetén azonnal tudnak segítséget nyújtani.</li>
                </ul>
                <p><a class="button secondary" href="#about">Miért jó bérelni?</a></p>
            </div>
        </section>
    </div>
</div>