<div class="prtbl">
    <div class="prtbl__rowhead topheader">
        Hűtős- furgonok és teherautók
    </div>
    <div class="prtbl__price topheader merged">Bérleti díj<small>HUF + áfa/nap</small></div>
    <div class="prtbl__price topheader">1-30 nap</div>
    <div class="prtbl__price topheader">1-3 hónap</div>
    <div class="prtbl__price topheader">4-12 hónap</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-furgon-hutos"}}
        <h3>Furgon - hűtős</h3>
        <p>Raktér: <strong>14-20 m<sup>3</sup></strong> &middot; Összsúly: <strong>3,5 tonna</strong> &middot; Jogosítvány: <strong>"B"</strong></p>
    </div>
    <div class="prtbl__price">18 990 Ft</div>
    <div class="prtbl__price">14 990 Ft</div>
    <div class="prtbl__price">11 990 Ft</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-kisteherauto-hutos"}}
        <h3>Kisteherautó - hűtős</h3>
        <p>Raktér: <strong>25-44 m<sup>3</sup></strong> &middot; Összsúly: <strong>6,5-7,5 tonna</strong> &middot; Jogosítvány: <strong>"C"</strong></p>
    </div>
    <div class="prtbl__price">23 990 Ft</div>
    <div class="prtbl__price">21 990 Ft</div>
    <div class="prtbl__price">15 990 Ft</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-teherauto-hutos"}}
        <h3>Hűtős tehergépkocsi</h3>
        <p>Raktér: <strong>45 m<sup>3</sup></strong> &middot; Összsúly: <strong>10-18 tonna</strong> &middot; Jogosítvány: <strong>"C"</strong></p>
    </div>
    <div class="prtbl__price">24 990 Ft</div>
    <div class="prtbl__price">22 990 Ft</div>
    <div class="prtbl__price">16 990 Ft</div>
</div>