<div class="prtbl">
    <div class="prtbl__rowhead topheader">
        Furgonok és teherautók
    </div>
    <div class="prtbl__price topheader merged">Bérleti díj<small>HUF + áfa/nap</small></div>
    <div class="prtbl__price topheader">1-30 nap</div>
    <div class="prtbl__price topheader">1-3 hónap</div>
    <div class="prtbl__price topheader">4-12 hónap</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-fura"}}
        <h3>Furgon - kicsi</h3>
        <p>Raktér: <strong>6,6 m<sup>3</sup></strong></strong> &middot; Összsúly: <strong>2,8 tonna</strong> &middot; Jogosítvány: <strong>"B"</strong></p>
    </div>
    <div class="prtbl__price">9 990 Ft</div>
    <div class="prtbl__price">8 990 Ft</div>
    <div class="prtbl__price">7 990 Ft</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-furgon"}}
        <h3>Furgon - zárt áruszállító</h3>
        <p>Raktér: <strong>14-20 m<sup>3</sup></strong> &middot; Összsúly: <strong>3,5 tonna</strong> &middot; Jogosítvány: <strong>"B"</strong></p>

    </div>
    <div class="prtbl__price">9 990 Ft</div>
    <div class="prtbl__price">8 990 Ft</div>
    <div class="prtbl__price">7 990 Ft</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-furgon-elektromos"}}
        <h3>e-Furgon</h3>
        <p>Raktér: <strong>14 m<sup>3</sup></strong> &middot; Összsúly: <strong>3,5 tonna</strong> &middot; Jogosítvány: <strong>"B"</strong></p>
    </div>
    <div class="prtbl__price">12 990 Ft</div>
    <div class="prtbl__price">12 990 Ft</div>
    <div class="prtbl__price">12 990 Ft</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-kisteherauto-ponyvas"}}
        <h3>Kisteherautó - ponyvás</h3>
        <p>Raktér: <strong>25-44 m<sup>3</sup></strong> &middot; Összsúly: <strong>6,5-7,5 tonna</strong> &middot; Jogosítvány: <strong>"C"</strong></p>
    </div>
    <div class="prtbl__price">20 990 Ft</div>
    <div class="prtbl__price">19 990 Ft</div>
    <div class="prtbl__price">13 990 Ft</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-teherauto"}}
        <h3>Tehergépkocsi</h3>
        <p>Felépítmény: <strong>ponyvás vagy dobozos</strong> &middot; Raktér: <strong>35-45 m<sup>3</sup></strong> &middot; Összsúly: <strong>12 tonna</strong> &middot; Jogosítvány: <strong>"C"</strong></p>
    </div>
    <div class="prtbl__price">21 990 Ft</div>
    <div class="prtbl__price">20 990 Ft</div>
    <div class="prtbl__price">14 990 Ft</div>
    <div class="prtbl__rowhead">
        {{svginsert "v-teherauto-ponyvas"}}
        <h3>Tehergépkocsi 45+</h3>
        <p>Felépítmény: <strong>ponyvás vagy dobozos</strong> &middot; Raktér: <strong>35-45 m<sup>3</sup></strong> &middot; Összsúly: <strong>14-18 tonna</strong> &middot; Jogosítvány: <strong>"C"</strong></p>
    </div>
    <div class="prtbl__price">22 990 Ft</div>
    <div class="prtbl__price">21 990 Ft</div>
    <div class="prtbl__price">15 990 Ft</div>
</div>