<ul class="accordion" data-accordion adata-multi-expand="true" data-allow-all-closed="true" data-magellan>
    <li class="accordion-item" data-accordion-item>
<a href="#ako-si-mozem-prenajat-vozidlo-ako-fyzicka-osoba" class="accordion-title">Ako si môžem prenajať vozidlo ako fyzická osoba?</a>
<div id="ako-si-mozem-prenajat-vozidlo-ako-fyzicka-osoba" class="accordion-content" data-tab-content data-magellan-target="ako-si-mozem-prenajat-vozidlo-ako-fyzicka-osoba">
    <p>Ak si fyzická osoba, po uzavretí zmluvy a podpísaní VOP budeš potrebovať kreditnú kartu, na jednej strane na zaplatenie nájomného, a na druhej strane na vytvorenie vkladu.<br />
<strong>DÔLEŽITÉ:</strong> nie je možné platiť v hotovosti, platby je potrebné vykonať buď bankovým prevodom alebo kreditnou kartou!</p>
<p>Súvisiace podrobnosti nájdeš vo VOP.</p>
<p>Ak chceš vytvoriť vklad, viď: „Ako môžem zaplatiť zálohu, ak som fyzická osoba?“</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#ako-mozem-zaplatit-zalohu-ak-som-fyzicka-osoba" class="accordion-title">Ako môžem zaplatiť zálohu, ak som fyzická osoba?</a>
<div id="ako-mozem-zaplatit-zalohu-ak-som-fyzicka-osoba" class="accordion-content" data-tab-content data-magellan-target="ako-mozem-zaplatit-zalohu-ak-som-fyzicka-osoba">
    <p>Ak si prenajmeš vozidlo krátkodobo ako fyzická osoba, nemusíš platiť kauciu. Prines svoju kreditnú kartu a náš kolega vytvorí vklad (zálohu) na tvojom účte a potom túto sumu uvoľní ihneď po odovzdaní vozidla po prenájme.<br />
Ďalej interné obchodné pravidlá banky, ktorá vydala tvoju kartu, určia, kedy môžeš túto sumu znova použiť.</p>
<p><strong>DÔLEŽITÉ:</strong> Ak dostaneš pokutu za obdobie, počas ktorého si vozidlo používal, dodatočne odpíšeme túto čiastku z tvojho účtu, a samozrejme ti zašleme všetky dokumenty týkajúce sa pokuty.</p>
<p>Podrobnosti nájdeš vo VOP.</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#ako-si-mozem-prenajat-vozidlo-ako-pravnicka-osoba" class="accordion-title">Ako si môžem prenajať vozidlo ako právnická osoba?</a>
<div id="ako-si-mozem-prenajat-vozidlo-ako-pravnicka-osoba" class="accordion-content" data-tab-content data-magellan-target="ako-si-mozem-prenajat-vozidlo-ako-pravnicka-osoba">
    <p>Ak vaša firma spĺňa požiadavky na kontrolu kreditu, musíte zložiť zálohu (čo obvykle zodpovedá nájmu za 1 alebo 2 mesiace) a zaplatiť prvý mesačný poplatok po podpísaní zmluvy a podpísaní VOP.<br />
<strong>DÔLEŽITÉ:</strong> DÔLEŽITÉ:platba v hotovosti nie je možná, platby je potrebné realizovať bankovým prevodom alebo platbou kreditnou kartou! Po obdržaní čiastok budete informovaní o tom, keď si môžete vyzdvihnúť vozidlo v našej prevádzke.</p>
<p>Súvisiace podrobnosti nájdete vo VOP.</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#na-ako-dlho-si-mozem-prenajat-vozidlo" class="accordion-title">Na ako dlho si môžem prenajať vozidlo?</a>
<div id="na-ako-dlho-si-mozem-prenajat-vozidlo" class="accordion-content" data-tab-content data-magellan-target="na-ako-dlho-si-mozem-prenajat-vozidlo">
    <p>Vozidlo si môžete prenajať na 1 deň až 72 mesiacov, ale aj na neurčito.</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#co-je-zahrnute-v-sume-za-prenajom" class="accordion-title">Čo je zahrnuté v sume za prenájom?</a>
<div id="co-je-zahrnute-v-sume-za-prenajom" class="accordion-content" data-tab-content data-magellan-target="co-je-zahrnute-v-sume-za-prenajom">
    <p>Služba <strong>„Full Service”</strong> zahŕňa odpisy vozidla, poplatok za lízing, údržbu, opravy, výmenu pneumatík z dôvodu opotrebenia, výmenu vozidiel pri dlhých opravách, periodické testy vozidiel, poistenie CASCO, povinné zmluvné poistenie, daň z hmotnosti a administratívne náklady spojené s registráciou vozidla.</p>
<p>Okrem vyššie uvedeného máme niekoľko druhov nájomných konštrukcií, informujte sa o nich u našich predajcov.</p>
<p>Súvisiace podrobnosti nájdete vo VOP.</p>
</div>
</li>
    <li class="accordion-item" data-accordion-item>
<a href="#kde-si-mozem-prenajate-vozidlo-prevziat-a-odovzdat" class="accordion-title">Kde si môžem prenajaté vozidlo prevziať a odovzdať?</a>
<div id="kde-si-mozem-prenajate-vozidlo-prevziat-a-odovzdat" class="accordion-content" data-tab-content data-magellan-target="kde-si-mozem-prenajate-vozidlo-prevziat-a-odovzdat">
    <p>V súčasnosti si môžete prenajaté vozidlo vyzdvihnúť a odovzdať v našich dvoch prevádzkach v Maďarsku a jednej prevádzke na Slovensku.</p>
<p><strong>Maďarsku:</strong></p>
<ul>
<li>Dodávky, nákladné vozidlá: <strong>H-1097 Budapest, Táblás utca 38.</strong></li>
<li>Traktory, návesy: <strong>H-2310 Szigetszentmiklós, Leshegy utca 13.</strong></li>
</ul>
<p><strong>Na Slovensku</strong> je celá flotila VIARENT spravovaná na jednom mieste: <strong>Poľná 17, 903 01 Senec, Szlovákia</strong></p>
</div>
</li>
</ul>
