<form id="reqform" class="viaform reqform" method="post" action="../incominglead.php" data-abide novalidate>
    <div class="formstep">    
        <ul class="inputgrid wider">
            <li>
                <h3 class="formstep__title">Osobné údaje</h3>
                <ul class="inputgrid">
                    <li class="full">
                        <label>
                            <input type="text" placeholder="Meno*" required name="r_name">
                            <span class="fauxplaceholder">Meno*</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="email" placeholder="E-mail adresa*" pattern="email" required name="r_email">
                            <span class="fauxplaceholder">E-mail adresa*</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="text" placeholder="Telefónne číslo*" required name="r_tel">
                            <span class="fauxplaceholder">Telefónne číslo*</span>
                        </label>
                    </li>
                </ul>
                <ul class="inputgrid">
                    <li class="third">
                        <label>
                            <input type="text" placeholder="PSČ*" required name="r_zip">
                            <span class="fauxplaceholder">PSČ*</span>
                        </label>
                    </li>
                    <li class="third">
                        <label>
                            <input type="text" placeholder="Obec*" required name="r_city">
                            <span class="fauxplaceholder">Obec*</span>
                        </label>
                    </li>
                    <li class="third">
                        <label>
                            <input type="text" placeholder="Ulica, číslo domu..." name="r_address">
                            <span class="fauxplaceholder">Ulica, číslo domu...</span>
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="formstep__title">Iná správa</h3>
                <ul class="inputgrid">
                    <li>
                        <label>
                            <textarea rows="5" placeholder="Iná správa" name="r_message"></textarea>
                            <span class="fauxplaceholder">Iná správa</span>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="formstep">
        <h3 class="formstep__title">Vyber si vozidlo, ktoré si chceš prenajať*</h3>
        <ul class="checkergrid">
            <li>
                <label class="checkboxlabel" for="r_vehicle0">
                    <input id="r_vehicle0" type="checkbox" name="r_vehicle[]" value="Dodávka malá">
                    Dodávka malá
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle1">
                    <input id="r_vehicle1" type="checkbox" name="r_vehicle[]" value="Uzavretá dodávka">
                    Uzavretá dodávka
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle2">
                    <input id="r_vehicle2" type="checkbox" name="r_vehicle[]" value="Elektrická dodávka">
                    Elektrická dodávka
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle3">
                    <input id="r_vehicle3" type="checkbox" name="r_vehicle[]" value="Van">
                    Van
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle4">
                    <input id="r_vehicle4" type="checkbox" name="r_vehicle[]" value="Nákladné vozidlo 35-45m<sup>3</sup>">
                    Nákladné vozidlo 35-45m<sup>3</sup>
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle5">
                    <input id="r_vehicle5" type="checkbox" name="r_vehicle[]" value="Nákladné vozidlo &gt;45m<sup>3</sup>">
                    Nákladné vozidlo &gt;45m<sup>3</sup>
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle6">
                    <input id="r_vehicle6" type="checkbox" name="r_vehicle[]" value="Chladiarenská dodávka">
                    Chladiarenská dodávka
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle7">
                    <input id="r_vehicle7" type="checkbox" name="r_vehicle[]" value="Malé nákladné auto chladiace">
                    Malé nákladné auto chladiace
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_vehicle8">
                    <input id="r_vehicle8" type="checkbox" name="r_vehicle[]" value="Chladiace nákladné vozidlo">
                    Chladiace nákladné vozidlo
                </label>
            </li>
        </ul>
    </div>

    <div class="formstep">
        <h3 class="formstep__title">Na ako dlho si chcete prenajať vozidlo?*</h3>
        <ul class="checkergrid">
            <li>
                <label class="checkboxlabel" for="r_time1">
                    <input id="r_time1" type="checkbox" name="r_time[]" value="1-30 dní">
                    1-30 dní
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_time2">
                    <input id="r_time2" type="checkbox" name="r_time[]" value="1-3 mesiace">
                    1-3 mesiace
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_time3">
                    <input id="r_time3" type="checkbox" name="r_time[]" value="4-12 mesiace">
                    4-12 mesiace
                </label>
            </li>
        </ul>
    </div>
    <div class="formstep">
                <label class="checkboxlabel small" for="r_acceptgdpr">
                    <input id="r_acceptgdpr" type="checkbox" name="r_acceptgdpr" required>
                    Vyplnením formulára prijímam obsah <a href="https://skdev.viarent.hu/zasady-ochrany-osobnych-udajov/" target="_blank"> informácií o správe údajov.</a>
                </label>
                <label class="checkboxlabel small" for="r_acceptmarketing">
                    <input id="r_acceptmarketing" type="checkbox" name="r_acceptmarketing">
                    Súhlasím s ponukami na obchodné a marketingové účely
                </label>
    </div>
    <input type="hidden" name="r_human" value="2">
    <div class="formactions">
        <button id="reqformsubmit" class="button secondary large reqformsubmit" type="submit" data-progresstext="Send in progress" data-sendtext="Message sent">
            Odoslať žiadosť o cenovú ponuku
        </button>
    </div>
    <div id="reqformresult" class="formresults reqformresult"></div>
  </form>