<section class="callpromo">
        <div class="callpromo__inner">
            <img src="{{root}}assets/img/content/callcenter.svg" alt="">
            <div class="callpromo__content">
                <h3>Segítünk a megfelelő jármű kiválasztásában.</h3>
                <h4>Munkaidőben hívd bérleti tanácsadónkat!</h4>
                <p>Telefonszámunk: <a href="tel:+3624502250">+36 (24) 50 22 50</a></p>
            </div>
        </div>
    </div>
</section>
<footer role="contentinfo" class="sitefooter">
    <ul class="footerwidgetgrid">
        <li><section class="widget widget--footer text-3 widget_text"><h3 class="widget__title">Szigetszentmiklós</h3>			<div class="textwidget"><p><strong>Viarent Kft.</strong><br />
<strong>2310 Szigetszentmiklós,<br />
Leshegy utca 13.</strong><br />
<strong>Telefon: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-2 widget_text"><h3 class="widget__title">Budapest</h3>			<div class="textwidget"><p><strong>Viarent Kft.</strong><br />
<strong>1097 Budapest, Táblás utca 38.</strong><br />
<strong>Telefon: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-4 widget_text"><h3 class="widget__title">Szenc / Senec</h3>			<div class="textwidget"><p><strong>Delta Truck S.R.O.</strong><br />
<strong>Poľná 17, 903 01 Senec, Szlovákia</strong><br />
<strong>Telefon: <a href="tel:+421 2 381 1 3673">+421 2 381 1 3673</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-5 widget_text"><h3 class="widget__title">Belgrád / Beograd</h3>			<div class="textwidget"><p><strong>SDT Renting D.O.O.</strong><br />
<strong>Sretenjska 4, 11272, Dobanovci,<br />
Beograd, Srbija</strong><br />
<strong>Telefon: <a href="tel:+381 62 425 888">+381 62 425 888</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-7 widget_text"><h3 class="widget__title">Debrecen</h3>			<div class="textwidget"><p><strong>Truck-repair Kft.</strong><br />
<strong>4002 Debrecen, Domokos Márton utca 4.</strong><br />
<strong> Központi telefon: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-6 widget_text"><h3 class="widget__title">Győr</h3>			<div class="textwidget"><p><strong>Cargo-Profil Kft.</strong><br />
<strong>9028 Győr, Fehérvári út 80 (ÉPFU telep)</strong><br />
<strong>Központi telefon: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
		</section></li><li><section class="widget widget--footer text-8 widget_text"><h3 class="widget__title">Szombathely</h3>			<div class="textwidget"><p><strong>Truck-repair Kft.</strong><br />
<strong>9700 Szombathely, Vásártér utca 4.</strong><br />
<strong>Központi telefon: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br />
<strong>E-mail: <a href="mailto:marketing@viarent.com">marketing@viarent.com</a></strong></p>
</div>
        </section></li>
    </ul>

    <div class="sitefooter__bottom">
        <div class="sitefooter__bottom__zero">
            {{> assistancebanner }}
        </div>
        <div class="sitefooter__bottom__first">
            <p>&copy; 2020 All rights reserved. VIARENT is a trademark of Viarent Kft.</p>
            <ul class="footerminimenu">
                <li><a href="https://viarent.hu/adatkezelesi-tajekoztato/">Adatkezelési tájékoztató</a></li>
                <li><a href="https://viarent.hu/jogi-nyilatkozat/">Jogi nyilatkozat</a></li>
                <li><a href="https://viarent.hu/sutik-kezelese/">Sütik kezelése</a></li>
            </ul>
            <ul class="sociallist">
                <li><a target="_blank" href="https://www.facebook.com/viarentmagyarorszag/" class="socialbtn">{{svginsert "facebook"}}</a></li>
                <li><a target="_blank" href="https://www.instagram.com/viarent_com/" class="socialbtn">{{svginsert "instagram"}}</a></li>
            </ul>
        </div>
        <div class="sitefooter__bottom__second">
            {{svginsert "dnv"}}
            {{svginsert "logo-mono"}}
        </div>
    </div>
</footer>